{% extends "base.html" %}

{% block title %} Add topic {% endblock %}

{% block content %}
<div class="row">
    <div class="col-5 mx-auto align-middle">
        <div class="card mt-5">
            <div class="card-body">
                <h5 class="card-title">Add a new topic</h5>
                
                <form method="POST">
                    <div class="form-group">
                        <label for="InputTopicTitle">Title</label>
                        <input type="text" class="form-control" name="title" id="InputTopicTitle" placeholder="Enter topic title" required>
                    </div>
                    <div class="form-group">
                        <label for="InputTopicDesc">Description</label>
                        <input type="textarea" class="form-control" name="description" id="InputTopicDesc" placeholder="Description" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}