{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="mt-5">
    {% if not topics %}
    <div class="row justify-content-center">
        <div class="cold-md-3">
            <h1>There are no topics currently. Why don't you start one?</h1>
        </div>
        {% if user.login_id %}
        <div>
            <a href="add_topic.html" style="font-size: 2rem; color: cornflowerblue;">Add a topic <i class="bi bi-plus-circle-fill"></i></a>
        </div>
        {% endif %}
    </div>
    {% else %}
    {% if user.login_id %}
    <div>
        <a href="add_topic.html" style="font-size: 2rem; color: cornflowerblue;">Add a topic <i class="bi bi-plus-circle-fill"></i></a>
    </div>
    {% endif %}
    <div class="list-group">
        {% for topic in topics %}
        <a href="#" class="list-group-item list-group-item-action">topic.name</a>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}