{% extends "base.html" %}

{% block title %} Open topic {% endblock %}

{% block content %}
<div class="mt-5">
    <div class="d-flex justify-content-center">
        <h1> {{ topic.title}}</h1>
    </div>
    <br>
    <div class="d-flex justify-content-center">
        <h4> {{ topic.description }}</h4>
    </div>
    <hr>
    {% if not posts %}
    <div class="row justify-content-center">
        <div class="cold-md-3">
            <h1>There are no posts currently. Why don't you add one?</h1>
        </div>
        {% if 'login_id' in current_user.__dict__ %}
        <div>
            <a href="/add_post/{{topic.id}}" style="font-size: 2rem; color: cornflowerblue;">Add a post <i
                    class="bi bi-plus-circle-fill"></i></a>
        </div>
        {% endif %}
    </div>
    {% else %}
    {% if 'login_id' in current_user.__dict__ %}
    <div>
        <a href="/add_post/{{topic.id}}" style="font-size: 2rem; color: cornflowerblue;">Add a post <i
                class="bi bi-plus-circle-fill"></i></a>
    </div>
    {% endif %}
    <div class="list-group mt-3">
        {% for post in posts %}
        <div class="list-group-item list-group-item-action">
            <div class = "d-flex justify-content-between mb-2"><h4 style = "color: #1e90ff">{{ post.user_name }}</h4><h6 class = "form-text float-md">{{ post.date}} </h6></div>
            {% if ('login_id' in current_user.__dict__) and (post.user_id == current_user.id) %}
            
            <div class="float-right">
                <a href="/update_post/{{post.id}}"> 
                    <i class="bi bi-pencil-square mr-2" style = "font-size: 2rem;"></i> 
                </a>
                 <a href="/delete_post/{{post.id}}"> 
                    <i class="bi bi-trash" style="font-size: 2rem; color: red"></i> 
                </a>
            </div>
            {% endif %}
            <h2>{{ post.title }}</h2>
            <h5 id="description" class="form-text text-muted">{{ post.content }}</h5>


        </div>
        {% endfor %}
    {% endif %}
    </div>
</div>

{% endblock %}